/* ------------------------------------------------------------ */
/* -------------------- NP Consultants ------------------------ */
/* ---------------------- intro.css --------------------------- */
/* ------------------------------------------------------------ */

@import url(root.css);

/* ------------------------------------------------------------ */

.body-intro {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;

    background: var(--background);
    
    z-index: 9999;
    animation: introFade 1.5s ease forwards;
}

body.intro-active {
    overflow: hidden;
}

.body-intro img, .body-intro-img {
    align-self: center;
    justify-self: center;
    width: clamp(120px, 14vw, 14vw);
    animation: logoFade 0.8s ease;
}

.main, main {
    opacity: 0;
    animation: mainShow 0.8s ease 1.5s forwards;
}



@keyframes introFade {
    0%  { opacity: 0; }
    1%  { opacity: 1; }
    70% { opacity: 1; }

    100% { opacity: 0;
        visibility: hidden;
    }
}


@keyframes logoFade {
    from { opacity: 0; transform: scale(0.8); }
    to   { opacity: 1; transform: scale(1);   }
}

@keyframes mainShow {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}



@media (prefers-reduced-motion: reduce) {

    .body-intro {
        display: none;
        animation: none;
    }

    body.intro-active {
        overflow: auto;
    }

    .body-intro img,
    .body-intro-img {
        animation: none;
    }

    .main,
    main {
        opacity: 1;
        animation: none;
    }

}