/* ------------------------------------------------------------ */
/* -------------------- NP Consultants ------------------------ */
/* ----------------------- body.css --------------------------- */
/* ------------------------------------------------------------ */

@import url(root.css);

/* ------------------------------------------------------------ */

.body-intro {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;

    background: var(--background);
    z-index: 9999;
    
    animation: introFade 1.5s ease forwards;
}

body.intro-active {
    overflow:hidden;
}

.body-intro img, .body-intro-img {
    align-self: center;
    justify-self: center;
    
    width: clamp(120px, 14vw, 14vw);
    animation: logoFade 0.8s ease;
}

.main, main {
    opacity: 0;
    animation: mainShow 0.8s ease 1.5s forwards;
}

@keyframes introFade {
    0%      { opacity: 0; }
    0%, 70% { 
        opacity: 1;
        overscroll-behavior: none;
        overflow: none;
        cursor: none;
    }

    100% {
        opacity: 0;
        visibility: hidden;
        overscroll-behavior: inherit;
        overflow: inherit;
        cursor: inherit;
    }
}

@keyframes logoFade {
    from { opacity: 0; transform: scale(0.8);}
    to   { opacity: 1; transform: scale(1);}
}

@keyframes mainShow {
    0% { opacity: 1; }
    0% { 
        opacity: 0;
        overflow: hidden;
        overscroll-behavior: none;
    }

    100% { 
        opacity: 1;
        overflow: inherit;
        overscroll-behavior: inherit;
    }
}