/* ------------------------------------------------------------ */
/* -------------------- NP Consultants ------------------------ */
/* -------------------- placeholder.css ----------------------- */
/* ------------------------------------------------------------ */

:root, :root.dark { 
    --debug-pattern : linear-gradient(45deg, 
        var(--base) 0% 4%,
        var(--debug) 05%, var(--base) 6% 9%,
        var(--debug) 10%, var(--base) 11% 14%,
        var(--debug) 15%, var(--base) 16% 19%,
        var(--debug) 10%, var(--base) 21% 24%,
        var(--debug) 15%, var(--base) 26% 29%,
        var(--debug) 10%, var(--base) 31% 34%,
        var(--debug) 15%, var(--base) 36% 39%,
        var(--debug) 10%, var(--base) 41% 44%,
        var(--debug) 15%, var(--base) 46% 49%,
        var(--debug) 10%, var(--base) 51% 54%,
        var(--debug) 15%, var(--base) 56% 59%,
        var(--debug) 10%, var(--base) 61% 64%,
        var(--debug) 15%, var(--base) 66% 69%,
        var(--debug) 10%, var(--base) 71% 74%,
        var(--debug) 15%, var(--base) 76% 79%,
        var(--debug) 10%, var(--base) 81% 84%,
        var(--debug) 15%, var(--base) 86% 89%,
        var(--debug) 10%, var(--base) 91% 94%,
        var(--debug) 15%, var(--base) 96% 99%
    );
}

.placeholder-100vh {
    height: 100vh;
    height: 100dvh;
    width: 100%;

    background: linear-gradient(45deg, 
        var(--base) 0% 4%,
        var(--debug) 05%, var(--base) 6% 9%,
        var(--debug) 10%, var(--base) 11% 14%,
        var(--debug) 15%, var(--base) 16% 19%,
        var(--debug) 10%, var(--base) 21% 24%,
        var(--debug) 15%, var(--base) 26% 29%,
        var(--debug) 10%, var(--base) 31% 34%,
        var(--debug) 15%, var(--base) 36% 39%,
        var(--debug) 10%, var(--base) 41% 44%,
        var(--debug) 15%, var(--base) 46% 49%,
        var(--debug) 10%, var(--base) 51% 54%,
        var(--debug) 15%, var(--base) 56% 59%,
        var(--debug) 10%, var(--base) 61% 64%,
        var(--debug) 15%, var(--base) 66% 69%,
        var(--debug) 10%, var(--base) 71% 74%,
        var(--debug) 15%, var(--base) 76% 79%,
        var(--debug) 10%, var(--base) 81% 84%,
        var(--debug) 15%, var(--base) 86% 89%,
        var(--debug) 10%, var(--base) 91% 94%,
        var(--debug) 15%, var(--base) 96% 99%
    );
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    filter: blur(24px);

    border: 0.4px solid white;
    border-radius: 0.6rem;

    transition: 0.4s ease;
}
